@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap");

body {
    font-family: "Comfortaa", cursive;
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 100%;
}

.header {
    font-weight: 400;
    font-size: 20px;
    color: rgb(56, 56, 56);
    margin-bottom: 2rem;
    background-color: rgb(255, 217, 217);
    width: 500px;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 25px;
}

.background {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5%;
    box-sizing: border-box;
    
    height: 100%;
    width: 40%;
}

.textarea {
    border: none;
    width: 500px;
    height: 300px;
    resize: none;
    margin-bottom: 50px;
    background-color: rgb(255, 244, 244);
    border-radius: 25px;
    font-family: "Comfortaa", cursive;
    padding: 5%;
    box-sizing: border-box;
}

.btn {
    border: none;
    background-color: rgb(255, 217, 217);
    width: 200px;
    height: 40px;
    font-family: "Comfortaa", cursive;
    border-radius: 25px;
    align-self: baseline;
    margin-left: 3rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(252, 201, 201);
}

.notes-style {
    display: flex;
    background-color: rgb(226, 232, 238);
    width: 500px;
    height:fit-content;
    padding: 2%;
    border-radius: 25px;
    margin-left: 1rem;
    margin-bottom: 10px;
}